<!-- Navigation -->
         <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div id="container">
            <div class="navbar-header">
              <ul class="nav navbar-nav navbar-right">
                {% for my_page in site.pages %}
                  {% if my_page.title %}
                    <li>
                      <a href="{{ my_page.url | prepend: site.baseurl }}">
              	        {{ my_page.title }}
                      </a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div> <!-- /.nav navbar-nav navbar-right -->
          </div> <!-- /.navbar-header -->
        </nav>
      </div> <!-- container -->  
{% if page.title != "Home" %}
<!-- Page Heading/Breadcrumbs -->
<div class = "container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"> {{page.title}}
                    <!-- <small>Subheading</small> -->
                </h1>
                <ol class="breadcrumb">
                    <li><a href="{{ site.baseurl }}/index.html">Home</a>
                    </li>
                    <li class="active">{{ page.title }}</li>
                </ol>
            </div>
        </div>   <!-- /.row -->
        <div>    <!-- /.container -->
 {% endif %}
