<!-- Navigation -->
         <nav class="navbar navbar-fixed-top" role="navigation">
          <div id="container">
            <div class="navbar-header">
              <ul class="nav nav-tabs navbar-right">
              {% assign my_pages = site.pages | sort:"weight"  %}
                {% for pages in my_pages %}
                    {% if pages.url == page.url %}
		    <li class="active" role="presentation">
                      <a href="{{ pages.url | prepend: site.baseurl }}" class="active">
             	        {{ pages.title }}
                      </a>
                       </li>
                       {% else %}
		       <li role="presentation">
                       <a href="{{ pages.url | prepend: site.baseurl }}">
              	        {{ pages.title }}
                      </a>
		      </li>
                      {% endif %}
                   
                {% endfor %}
              </ul>
            </div> <!-- /.nav navbar-nav navbar-right -->
          </div> <!-- /.navbar-header -->
        </nav>
      </div> <!-- container -->  
{% if page.title != "Home" %}
<!-- Page Heading/Breadcrumbs -->
<div class = "container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"> {{page.title}}
                    <!-- <small>Subheading</small> -->
                </h1>
                <ol class="breadcrumb">
                    <li><a href="{{ site.baseurl }}/index.html">Home</a>
                    </li>
                    <li class="active">{{ page.title }}</li>
                </ol>
            </div>
        </div>   <!-- /.row -->
        <div>    <!-- /.container -->
 {% endif %}
